

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} 

/*END RESET.CSS*/

    /* font-family: $font;
    color: $color_text;
    background-color: $background_color; */
$font: 'Lato', sans-serif;
$color_text: #000;
$color_form:#fff;
$color_background:#f7c5cdee;
$color_page:#f1f1f1;
$color_hover: #d4d1d1;
$color_i:rgb(77, 74, 74);
/* $color:#000; */
@mixin a_text($color_text){
    text-decoration: none;
    color:$color_text;
}

.modals{
    .modal_window{
        pointer-events: none;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: $color_hover;
        opacity: 0;
        z-index: 10;
    }
    #regist_form{
        margin: -570px auto;
        border-radius: 5px;
        position: relative;
        width: 40%;
        background-color: $color_form;
        font-size: 14px;
        text-align: center;
        padding: 40px;
        z-index: 100;
        span{
            position: absolute;
            right:0;
            top:0;
            font-size: 25px;
            &:hover{
                cursor: pointer;
            }
        }
        h2{
            font-weight: 900;
            padding-bottom: 20px;
            i{
                padding-left: 10px;
            }
        }
        .er_message{
            display: none;
        }
        .message-show{
            display: block;
        }
        .form_input{
            margin: 20px;
        }
        .btn_enter{
            margin: 20px;
            #btn_enter{
                background-color: $color_background;
            }
        }
        .remember{
            margin-bottom: 40px;
            .er_message{
                display: none;
            }
            
        }
        .problems{
            margin: 20px;
            a{
                @include a_text($color_text);
            }
            #registration{
                font-weight: bold;
                padding-left: 5px;
            }
            
        }
    }
    #regist_form2{
        border-radius: 5px;
        width: 40%;
        background-color: $color_form;
        font-size: 14px;
        text-align: center;
        padding: 40px;
        position: relative;
        margin: -570px auto;
        z-index: 200;
        span{
            position: absolute;
            font-size: 25px;
            right:0;
            top:0;
            &:hover{
                cursor: pointer;
            }
        }
        h2{
            font-weight: 900;
            padding-bottom: 20px;
            i{
                padding-left: 10px;
            }
        }
        .er_message{
            display: none;
        }
        .message-show{
            display: block;
        }
        .form_input{
            margin: 20px;
        }
        .btn_enter{
            margin: 20px;
            #btn_submit{
                background-color: $color_background;
            }
        }
        .remember{
            margin-bottom: 40px;
            .er_message{
                display: none;
            }
            a{
                color:$color_text
            }
            
        }
        .problems{
            margin: 20px;
            a{
                @include a_text($color_text);
            }
            #registration{
                font-weight: bold;
                padding-left: 5px;
            }
            
        }
    }
    .er_message{
        display: none;
    }
    .add_task{
            border: solid 1px $color_hover;
            margin: -570px auto;
           // z-index: 300;
            width: 40%;
            background-color: $color_form;
            font-size: 14px;
            padding: 2rem;
            position: relative;
           // margin: -450px auto;
            z-index: 400;
            #editor1{
                border: none;
                width: 99%;
                &:focus{
                   outline: none;
                }
            }
            #editor2{
                border: none;
                width: 99%;
                &:focus{
                    outline: none;
                }
            }
            .add_descr_task{
                display:flex;
                justify-content: space-between;
                a{
                    @include a_text($color_text);
                }
            }
            .btn_task{
                margin-top: 20px;
                #add_newtask{
                    &:hover{
                        background-color: $color_background;
                    }
                }
                #cancel{
                    &:hover{
                        background-color: $color_background;
                    }
                }
            }
    }
    #label{
        border-radius: 5px;
        width: 40%;
        background-color: $color_form;
        font-size: 14px;
        text-align: center;
        padding: 40px;
        position: relative;
        margin: -570px auto;
        z-index: 200;
    }
 
    .over_modal{
        pointer-events: none;
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: $color_hover;
        opacity: 0;
        z-index: 10;
    }
        .add_task_todo{
            width: 40%;
            background-color: $color_form;
            font-size: 14px;
            padding: 2rem;
            position: relative;
            margin: -450px auto;
            z-index: 400;
        // .modal_add{   
                #editor5{
                    border: none;
                    width: 100%;
                    &:focus{
                    outline: none;
                    }
                }
                #editor6{
                    border: none;
                    width: 100%;
                    &:focus{
                        outline: none;
                    }
                }
                .btn_task{
                    margin-top: 20px;
                    #add_newtask3{
                        &:hover{
                            background-color: $color_background;
                        }
                    }
                    #cancel3{
                        &:hover{
                            background-color: $color_background;
                        }
                    }
                }
        //} 
            
    } 
    .er_message{
        display: none;
    }
    #hello{
        width: 40%;
        background-color: $color_form;
        font-size: 14px;
        padding: 40px;
        position: relative;
        margin: -570px auto;
        z-index: 400;
        span{
            position: absolute;
            font-size: 25px;
            right:0;
            top:0;
            &:hover{
                cursor: pointer;
            }
        }
    }
}
