/*RESET.CSS*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*END RESET.CSS*/
/* font-family: $font;
    color: $color_text;
    background-color: $background_color; */
/* $color:#000; */
body {
  color: #000;
}

body .color {
  background-color: #f7c5cdee;
}

body .wrapper {
  max-width: 1920px;
  width: 100%;
  margin: 0 auto;
}

body .wrapper .center {
  max-width: 1285px;
  width: 100%;
  margin: 0 auto;
}

body .wrapper .center .preloader-wrap {
  opacity: 0;
}

body .wrapper .center .preloader-show {
  opacity: 1;
}

body .wrapper .center header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 70px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: "Lato", sans-serif;
  font-size: 18px;
  /* .plus{
                    width: 5%;
                    a{
                        @include a_text($font);
                    }
                } */
}

body .wrapper .center header .startHeader {
  width: 25%;
}

body .wrapper .center header .startHeader .burger {
  padding-right: 30px;
}

body .wrapper .center header .startHeader a {
  text-decoration: none;
  color: #000;
}

body .wrapper .center header .search {
  position: relative;
  width: 30%;
}

body .wrapper .center header .search #icon1 {
  position: absolute;
  top: 25%;
  font-size: 20px;
  left: 9px;
}

body .wrapper .center header .search #search {
  height: 30px;
  padding-left: 40px;
}

body .wrapper .center header .search .er_message {
  display: none;
}

body .wrapper .center header .search span {
  position: absolute;
  right: 2px;
  top: 5px;
}

body .wrapper .center header .user {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  width: 45%;
}

body .wrapper .center header .user a {
  text-decoration: none;
  color: #000;
}

body .wrapper .center header .user p {
  padding-left: 30px;
}

body .wrapper .center header .user #user {
  padding-left: 10px;
}

body .wrapper .center header .user #bell {
  padding-left: 30px;
}

body .main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 14px;
  font-weight: 300;
  min-height: 100vh;
  width: 100%;
}

body .main .er_message {
  display: none;
}

body .main .menu {
  width: 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #f1f1f1;
  padding-top: 30px;
  padding-left: 4%;
  min-height: 100vh;
}

body .main .menu .tasks {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

body .main .menu .tasks .choose_task {
  margin-bottom: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  /* .count{
                        opacity: 0;
                    } */
}

body .main .menu .tasks .choose_task a {
  text-decoration: none;
  color: #000;
}

body .main .menu .tasks .choose_task a i {
  padding-right: 20px;
}

body .main .menu .tasks .choose_task:first-child a i {
  color: #b0b0e6;
  font-size: 13px;
}

body .main .menu .tasks .choose_task:nth-child(2) a i {
  color: #f0f357;
}

body .main .menu .tasks .choose_task:nth-child(3) a i {
  color: #9ff1dd;
}

body .main .menu .tasks .choose_task:last-child a i {
  color: #3a6579;
}

body .main .menu .panel {
  display: none;
}

body .main .menu .accord p {
  padding: 10px 3px 10px 37px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .main .menu .accord p:hover {
  background-color: #d4d1d1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 4px;
}

body .main .menu .accord p:hover span {
  opacity: 1;
  cursor: pointer;
}

body .main .menu .accord p a {
  text-decoration: none;
  color: #000;
}

body .main .menu .accord p span {
  opacity: 0;
  cursor: pointer;
}

body .main .menu .add_accord {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .main .menu .add_accord:hover {
  background-color: #d4d1d1;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  border-radius: 4px;
  /* &:last-child .plus_acc{
                        i {
                            opacity: 0.5;
                        }
                    } */
}

body .main .menu .add_accord:hover .plus_acc i {
  opacity: 1;
}

body .main .menu .add_accord .plus_acc {
  cursor: pointer;
}

body .main .menu .add_accord .plus_acc i {
  font-size: 15px;
  opacity: 0;
  color: #000;
}

body .main .menu .add_accord .accordeon {
  font-weight: 700;
  height: 1.5rem;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body .main .menu .add_accord .accordeon::before {
  content: '\203A';
  float: left;
  padding-right: 35px;
}

body .main .menu .add_accord .accordeon .acc_name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

body .main .menu .test::before {
  content: '\203A';
  float: left;
  margin-top: 33px;
  padding-right: 24px;
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

body .main .er_message {
  display: none;
}

body .main_page {
  padding-top: 30px;
  width: 100%;
  margin-left: 4%;
  margin-right: 4%;
  background-color: #fff;
}

body .main_page .header_main {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 5px;
  border-bottom: solid 1px #d4d1d1;
}

body .main_page .header_main #name_folder {
  font-weight: 900;
  font-size: 20px;
}

body .main_page .header_main #name_today {
  font-weight: 900;
  font-size: 20px;
}

body .main_page .header_main .sort_task a {
  text-decoration: none;
  color: #000;
}

body .main_page .lists .task_list {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .main_page .lists .task_list:hover .edit a {
  opacity: 1;
}

body .main_page .lists .task_list div {
  width: 60%;
}

body .main_page .lists .task_list div .done {
  width: 1em;
  height: 1em;
  background-color: white;
  border-radius: 50%;
  vertical-align: middle;
  border: 1px solid #d4d1d1;
  -moz-appearance: none;
       appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  /* &:hover{
                            opacity: 1;
                        } */
}

body .main_page .lists .task_list div .done:checked {
  background-color: #f7c5cdee;
}

body .main_page .lists .task_list div .info_label {
  color: #d4d1d1;
  padding-left: 2rem;
  font-style: italic;
}

body .main_page .lists .task_list div .descr_task {
  padding-left: 23px;
}

body .main_page .lists .task_list div .color_red {
  border: 1px solid red;
}

body .main_page .lists .task_list div .color_orange {
  border: 1px solid orange;
}

body .main_page .lists .task_list .edit {
  text-align: end;
}

body .main_page .lists .task_list .edit a {
  text-decoration: none;
  color: #000;
  opacity: 0;
}

body .main_page .lists .task_list .edit:hover a {
  opacity: 1;
}

body .main_page .lists .task_list .edit:hover .done {
  opacity: 1;
}

body .main_page .modal_window {
  pointer-events: none;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #d4d1d1;
  opacity: 0;
  z-index: 10;
}

body .main_page .add_task2 {
  margin-top: 10px;
  border: solid 1px #d4d1d1;
}

body .main_page .add_task2 #editor3 {
  border: none;
  width: 99%;
}

body .main_page .add_task2 #editor3:focus {
  outline: none;
}

body .main_page .add_task2 #editor4 {
  border: none;
  width: 99%;
}

body .main_page .add_task2 #editor4:focus {
  outline: none;
}

body .main_page .add_task2 #editor7 {
  border: none;
  width: 99%;
}

body .main_page .add_task2 #editor7:focus {
  outline: none;
}

body .main_page .add_task2 #editor8 {
  border: none;
  width: 99%;
}

body .main_page .add_task2 #editor8:focus {
  outline: none;
}

body .main_page .add_task2 .add_descr_task {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .main_page .add_task2 .add_descr_task .add_signs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 8%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

body .main_page .add_task2 .add_descr_task .add_signs .sign_label {
  position: relative;
}

body .main_page .add_task2 .add_descr_task .add_signs .sign_label .labelList {
  display: none;
  position: absolute;
  top: 20px;
  z-index: 20;
  right: 0;
  background-color: #d4d1d1;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  min-width: 40px;
  /* &:hover{
                                opacity: 1;
                            } */
}

body .main_page .add_task2 .add_descr_task .add_signs .sign_label .labelList .icon-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .main_page .add_task2 .add_descr_task .add_signs .sign_label a {
  text-decoration: none;
  color: #000;
}

body .main_page .add_task2 .add_descr_task .add_signs .sign_label:hover .labelList {
  display: block;
}

body .main_page .add_task2 .add_descr_task .add_signs .filter_label {
  position: relative;
}

body .main_page .add_task2 .add_descr_task .add_signs .filter_label .priorityList {
  display: none;
  position: absolute;
  top: 20px;
  z-index: 20;
  right: 0;
  background-color: #d4d1d1;
}

body .main_page .add_task2 .add_descr_task .add_signs .filter_label .priorityList .icon-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

body .main_page .add_task2 .add_descr_task .add_signs .filter_label a {
  text-decoration: none;
  color: #000;
}

body .main_page .add_task2 .add_descr_task .add_signs .filter_label:hover .priorityList {
  display: block;
}

body .main_page .add_task2 .btn_task {
  margin-top: 20px;
}

body .main_page .add_task2 .btn_task #change {
  display: none;
}

body .main_page .add_task2 .btn_task #change:hover {
  background-color: #f7c5cdee;
}

body .main_page .add_task2 .btn_task #add_newtask2:hover {
  background-color: #f7c5cdee;
}

body .main_page .add_task2 .btn_task #cancel2:hover {
  background-color: #f7c5cdee;
}

body .main_page .add_task2 .btn_task #change2 {
  display: none;
}

body .main_page .add_task2 .btn_task #change2:hover {
  background-color: #f7c5cdee;
}

body .main_page .add_task2 .btn_task #add_newtask_today:hover {
  background-color: #f7c5cdee;
}

body .main_page .add_task2 .btn_task #cancel_today:hover {
  background-color: #f7c5cdee;
}

body .main_page .add_task {
  width: 70%;
  background-color: #fff;
  font-size: 14px;
  padding: 40px;
  position: relative;
  margin: 0 auto;
  z-index: 400;
}

body .main_page #footer_main {
  background-repeat: no-repeat;
  background-size: 30%;
  height: 50%;
  background-position: top;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

body .main_page #footer_main p {
  width: 100%;
  text-align: center;
}

body .main_page #footer_today {
  background-repeat: no-repeat;
  background-size: 30%;
  height: 50%;
  background-position: top;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

body .main_page #footer_today p {
  width: 100%;
  text-align: center;
}

body .main_page .free_pic {
  background-image: url(../images/IMG_2988.PNG);
}

body .main_page .busy_pic {
  background-image: url(../images/IMG_2989.PNG);
}

body .main_page .add_main {
  margin-top: 10px;
}

body .main_page .add_main a {
  text-decoration: none;
  color: #000;
}

body .main_page .add_main a:hover i {
  background-color: #f7c5cdee;
}

body .main_page .add_main a i {
  padding: 10px;
}

body #main_today {
  display: none;
}

body * {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body .drag_drop {
  width: 100%;
  margin-left: 4%;
  margin-right: 4%;
  background-color: #fff;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  /*  min-height: 100vh;
        width: 100%; */
  display: none;
}

body .drag_drop .todo-container {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #f1f1f1;
}

body .drag_drop .todo-container .status {
  width: 25%;
  position: relative;
  padding: 60px 1rem 0.5rem;
}

body .drag_drop .todo-container .status h1 {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(245, 230, 233, 0.952);
  width: 100%;
  text-align: center;
  padding: 0.5rem 1rem;
  font-size: 15px;
  font-weight: 900;
}

body .drag_drop .todo-container .status #add_btn {
  padding: 0.5rem 1rem;
  background-color: #d4d1d1;
  outline: none;
  border: none;
  width: 100%;
  border-radius: 4px;
  cursor: pointer;
  margin: 0.5rem 0;
}

body .drag_drop .todo-container .status #add_btn:hover {
  font-size: 16px;
}

body .drag_drop .todo-container .status:nth-child(even) {
  background-color: #f5f4f4;
}

body .drag_drop .todo-container .status .todo {
  -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
          box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
  padding: 0.5rem 1rem;
  border-radius: 4px;
  background-color: #fff;
  position: relative;
  /* display: flex;
                    justify-content: space-between;
                    align-items: center; */
  margin: 0.5rem 0;
}

body .drag_drop .todo-container .status .todo span {
  position: absolute;
  top: 0rem;
  right: 0.5rem;
  color: #f1f1f1;
  cursor: pointer;
}

body .drag_drop .todo-container .status .todo span:hover {
  color: #000;
}
/*# sourceMappingURL=style1.css.map */