/*RESET.CSS*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} 

/*END RESET.CSS*/

    /* font-family: $font;
    color: $color_text;
    background-color: $background_color; */
$font: 'Lato', sans-serif;
$color_text: #000;
$color_form:#fff;
$color_background:#f7c5cdee;
$color_page:#f1f1f1;
$color_hover: #d4d1d1;
/* $color:#000; */
@mixin a_text($color_text){
    text-decoration: none;
    color:$color_text;
}

body{  
    //overflow-y: hidden;
    color:$color_text;  
    .color{
        background-color: $color_background;
    }
    .wrapper{
        max-width: 1920px;
        width: 100%;
        margin: 0 auto;
        .center{
            max-width: 1285px;
            width: 100%;
            margin: 0 auto;
            //background-color: aqua;
            .preloader-wrap{
                opacity: 0;
            }
            .preloader-show{
                opacity: 1;
            }            
            header{  
                display: flex;
                height: 70px;
                align-items: center;
                font-family: $font;
                font-size: 18px;
                
                .startHeader{
                    width: 25%;
                    .burger{
                        padding-right: 30px;
                    }
                    a{
                        @include a_text($color_text);
                    }
                   
                }
                .search{
                    position: relative;
                    width: 30%;
                    #icon1{
                        position: absolute;
                        top: 5px;
                        font-size: 20px;
                        left: 9px;
                        
                        z-index: 2;
                        
                    }
                    #search{
                        position: relative;
                        height: 30px;
                        padding-left: 40px;
                    }
                    .change_width{
                        width: 100%;
                    }
                    .er_message{
                        display: none;
                    }
                    span{
                        position: absolute;
                        right: 2px;
                        top: 5px;
                    }
                }
                /* .plus{
                    width: 5%;
                    a{
                        @include a_text($font);
                    }
                } */
                .user{
                    display: flex;
                    justify-content: flex-end;
                    width: 45%;
                    a{
                        @include a_text($color_text);
                    }
                    p{
                        padding-left: 30px;
                    }
                    #user{
                        padding-left: 10px;
                    }
                    #bell{
                        padding-left: 30px;
                    }
                }
            }
        } 
    }
    .main{
       display: flex;
       font-size: 14px;
       font-weight: 300;
       min-height: 100vh;
        width: 100%;
       .er_message{
        display: none;
        }
       .menu{
           width: 25%;
           display: flex;
           flex-direction: column;
           //margin-right: 30px;
           background-color: $color_page;
           padding-top: 30px;
           padding-left: 4%;
           min-height: 100vh;
           .tasks{
                display: flex;
                flex-direction: column;
                .choose_task{
                    margin-bottom: 15px;
                    display: flex;
                    justify-content: space-between;
                    a{
                        @include a_text($color_text);
                        i{
                            padding-right: 20px;   
                        }
                    }
                    &:first-child a{
                        i{
                        color: rgb(176, 176, 230);
                        font-size: 13px;
                        }
                    }
                    &:nth-child(2) a{
                        i{
                        color:rgb(240, 243, 87);
                        }
                    }
                    &:nth-child(3) a{
                        i{
                            color:rgb(159, 241, 221);
                        }
                    }
                    &:last-child a{
                        i{
                            color:rgb(58, 101, 121);
                            //padding-right: 20px;
                        }
                    }
                    /* .count{
                        opacity: 0;
                    } */

                }
               
            }
            .panel{
            display: none;
            }
            .accord{  
                p{
                   // padding-bottom: 10px;
                   // padding-left: 37px;
                    //cursor: pointer;
                    padding: 10px 3px 10px 37px;
                    display: flex;
                    justify-content: space-between;
                    
                    &:hover{
                        background-color: $color_hover;
                        transition: 0.5s;
                        border-radius: 4px; 
                        span{
                            opacity: 1;
                            cursor: pointer;
                        }
                    }
                    a{
                        @include a_text($color_text)
                
                    }
                    .label_panel{
                        width: 50%;
                    }
                    span{
                        opacity: 0;
                        cursor: pointer;
                    }
                }
               
            }
            .add_accord{
                display: flex;
                align-items: center;
                justify-content: space-between;
                &:hover{
                    background-color: $color_hover;
                    transition: 0.5s;
                    border-radius: 4px; 
                    .plus_acc{
                        i{
                            opacity: 1;
                           
                        }
                       
                    }
                    /* &:last-child .plus_acc{
                        i {
                            opacity: 0.5;
                        }
                    } */
                }
                .plus_acc{
                    cursor: pointer;
                    i{
                        font-size: 15px;
                        opacity: 0;
                        color: $color_text;
                    }
                }
                .accordeon{
                    //margin-top: 15px;
                    font-weight: 700;
                    height: 1.5rem;
                    //margin-bottom: 15px;
                    overflow: hidden;
                    display: flex;
                    align-items: center;
                    cursor: pointer;
                    transition: 0.5s;
                // width: 90%;
                    &::before{
                        content: '\203A';
                        float: left;
                        padding-right: 35px;
                        //padding-left: 10px;
                    } 
                    .acc_name{
                        display: flex;
                        justify-content: space-between;
                        width: 100%;   
                    
                    }
                
                }
            }
   
        .test{
            &::before{
                content: '\203A';
                float: left;
                margin-top: 33px;
                padding-right: 24px;
                //padding-left: 10px;
                transform: rotate(90deg); 
                transition: 0.5s;
            }
        }
       }
       .close_menu{
           display: none;
       }
       .er_message{
        display: none;
        }
    }
    .modal-wrapper{
        position: absolute;
        display: none;
        width: 100%;
        background-color: rgba(212, 209, 209, 0.5);
        text-align: center;
        height: 100vh;
        z-index: 20;
        top: 0;
    }
    .wrap-preloader{
        position: absolute;
        display: none;
        width: 100%;
        background-color: rgba(212, 209, 209, 0.8);
        text-align: center;
        height: 100vh;
        padding-top: 24%;
    }
    .preloader-show{
        display: block;
    }
    .main_page{
        //display: none;
        padding-top: 30px;
        width: 100%;
        margin-left: 4%;
        margin-right: 4%;
        background-color: $color_form;
        .header_main{
            justify-content: space-between;
            display: flex;
            padding-bottom: 5px;
            border-bottom: solid 1px $color_hover;
            #name_folder{
                font-weight: 900;
                font-size: 20px;
            }
            #name_today{
                font-weight: 900;
                font-size: 20px;
            }
            #name_statistics{
                font-weight: 900;
                font-size: 20px;
            }
            .sort_task{
                position: relative;
                a{
                    @include a_text($color_text);
                    cursor: pointer;
                }
                .sortBy{
                    display: none;
                    position: absolute;
                    left: -100px;
                    background-color: $color_form;
                    border: $color_hover solid;
                    top:20px;
                    width: 8rem;
                    a{
                        display: block;
                        padding: 0.3rem;
                        border-bottom: solid $color_page;
                    }
                }
                .show_sort{
                    display: block;
                }
            }
        }
        .countTask{
            margin-top: 2%;
            font-size: 15px;
        }
        .showAll{
            margin-top: 2%;
            
            a{
                @include a_text($color_text);
                cursor: pointer;
               // padding: 1rem;
                &:hover{
                    background-color: $color_background;
                }
            }
           
        }
        .lists{
            .task_list{
                margin-top: 10px;
                display: flex;
                justify-content: space-between;
                &:hover{
                    .edit{
                        a{
                            opacity: 1;
                        }
                    }
                }
                div{
                    width: 60%;
                    .done{
                        //opacity: 0;
                        width: 1em;
                        height: 1em;
                        background-color: white;
                        border-radius: 50%;
                        vertical-align: middle;
                        border: 1px solid $color_hover;
                        appearance: none;
                        -webkit-appearance: none;
                        outline: none;
                        cursor: pointer;
                        /* &:hover{
                            opacity: 1;
                        } */
                        &:checked{
                            background-color:$color_background;
                        }

                    }
                    .info_label{
                        color: $color_hover;
                        padding-left: 2rem ; 
                        font-style: italic;
                    }
                    .descr_task{
                        padding-left: 23px;
                    }
                    
                    .color_red{
                        border: 1px solid red;
                    }
                    .color_orange{
                        border: 1px solid orange;
                    }
                    .color_blue{
                        border: 1px solid rgb(0, 204, 255);
                    }
                }
                .edit{
                    text-align: end;
                    a{
                        @include a_text($color_text);
                        opacity: 0;
                    }
                    &:hover{
                        a{
                            opacity: 1;
                        }
                        .done{
                            opacity: 1;
                        }
                    }
                }
            }
        }
        .modal_window{
            pointer-events: none;
            position: fixed;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-color: $color_hover;
            opacity: 0;
            z-index: 10;
        }
        
        .add_task2{
            margin-top: 10px;
            border: solid 1px $color_hover;

            #editor3{
                border: none;
                width: 99%;
                &:focus{
                   outline: none;
                }
            }
            #editor4{
                border: none;
                width: 99%;
                &:focus{
                    outline: none;
                }
            }
            #editor7{
                border: none;
                width: 99%;
                &:focus{
                   outline: none;
                }
            }
            #editor8{
                border: none;
                width: 99%;
                &:focus{
                    outline: none;
                }
            }
            .add_descr_task{
                display:flex;
                justify-content: space-between;
                .add_signs{
                    //position: relative;
                    display: flex;
                    width: 8%;
                    justify-content: space-between;
                    .sign_label{
                        position: relative;
                       // display: block;
                        .labelList{
                            display: none;
                            position: absolute;
                            top:10px;
                            z-index: 20;
                            right: 0;
                            background-color:$color_hover;
                            height: fit-content;
                            min-width: 40px;
                            .icon-label{
                                display: flex;
                            }
                            /* &:hover{
                                opacity: 1;
                            } */
                            
                        }
                        a{
                            @include a_text($color_text);
                        }
                        &:hover{
                            .labelList{
                                display: block;
                            }
                        }
                    }
                    .filter_label{
                        position: relative;
                        .priorityList{
                            display: none;
                            position: absolute;
                            top:10px;
                            z-index: 20;
                            right: 0;
                            //left: 0;
                            //left: -10px;
                            background-color:$color_hover;
                            .icon-label{
                                display: flex;
                            }
                        }
                        a{
                            @include a_text($color_text);
                        }
                        &:hover{
                            .priorityList{
                                display: block;
                            }
                        }
                    }  
                }
            }
            .btn_task{
                margin-top: 20px;
                button{
                    border: solid rgba(128, 128, 128, 0.582);
                    border-radius: 4px;
                }
                #change{
                    display: none;
                    &:hover{
                        background-color: $color_background;
                    }
                }
                #add_newtask2{
                    &:hover{
                        background-color: $color_background;
                    }
                }
                #cancel2{
                    &:hover{
                        background-color: $color_background;
                    }
                }
                #change2{
                    display: none;
                    &:hover{
                        background-color: $color_background;
                    }
                }
                #add_newtask_today{
                    &:hover{
                        background-color: $color_background;
                    }
                }
                #cancel_today{
                    &:hover{
                        background-color: $color_background;
                    }
                }
            }
        }
        .add_task{
            width: 70%;
            background-color: $color_form;
            font-size: 14px;
            padding: 40px;
            position: relative;
            margin: 0 auto;
            z-index: 400;
        }
        #footer_main{
            
            background-repeat: no-repeat;
            background-size: 30%;
            height: 50%;
            background-position: top;
            display: flex;
            align-items: flex-end;
            
            p{
                width: 100%;
                text-align: center;
            }
        }
        #footer_today{
            
            background-repeat: no-repeat;
            background-size: 30%;
            height: 50%;
            background-position: top;
            display: flex;
            align-items: flex-end;
            
            p{
                width: 100%;
                text-align: center;
            }
        }
        .free_pic{
            background-image: url(../images/IMG_2988.PNG);
        }
        .busy_pic{
            background-image: url(../images/IMG_2989.PNG);
        }
        .add_main{
            margin-top: 10px;
            a{
                @include a_text($color_text);
                &:hover{
                    i{
                        background-color: $color_background;
                    }
                }
                i{
                    padding: 10px;
                }
            }
        }
    }
    #main_today{
        display: none;
    }
    *{
        box-sizing: border-box;
    }
    .drag_drop{
        width: 100%;
        margin-left: 4%;
        margin-right: 4%;
       // background-color: $color_form;
        background-color: $color_form;
        //display: flex;
        justify-content: center;
        align-items: center;
       /*  min-height: 100vh;
        width: 100%; */
        display: none;
        .todo-container{
            width: 100%;
            height: 100vh;
            display: flex;
            background-color: $color_page;
            .status{
                width: 25%;
                position: relative;
                padding:60px 1rem 0.5rem;
                h1{
                    position: absolute;
                    top:0;
                    left:0;
                    background-color: rgba(245, 230, 233, 0.952);
                    width: 100%;
                    text-align: center;
                    padding: 0.5rem 1rem;
                    font-size: 15px;
                    font-weight: 900;
                }
                #add_btn{
                    padding: 0.5rem 1rem; 
                    background-color: $color_hover;
                    outline: none;
                    border: none;
                    width: 100%;
                    border-radius: 4px;
                    cursor: pointer;
                    margin: 0.5rem 0;
                    &:hover{
                        font-size: 16px;
                    }
                }
                &:nth-child(even){
                    background-color: rgb(245, 244, 244);
                }
                .todo{
                    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
                    padding: 0.5rem 1rem;
                    border-radius: 4px;
                    background-color: $color_form;
                    position: relative;
                    /* display: flex;
                    justify-content: space-between;
                    align-items: center; */
                    margin: 0.5rem 0;
                    span{
                        position: absolute;
                        top:0rem;
                        right: 0.5rem;
                        color:$color_page;
                        cursor: pointer;
                        &:hover{
                            color: $color_text;
                        }
                    }
                }
            }
        }
    }
}
@media screen and (max-width: 1399.98px){
    body{
        .wrapper{
            .center{
                width: 93%;
            }
        }
    }    
}
@media screen and (max-width: 991.98px){
    body{
        .wrapper{
            .center{
                header{
                    .search{
                        .change_width{
                            width: auto;
                        }
                        span{
                            display: none;
                        }
                    }
                }
            }
                .main{
                    #footer_main{
                        height: 40%;
                       
                    }
                    .menu{
                        width: 23%;
                        padding-left: 3%;
                    }
                    .main_cal{
                        margin-left: 2%;
                        margin-right: 0;
                        .container_cal{
                            #header_cal{
                                width: 93%;
                            }
                            #weekdays{
                                width: 95%;
                            }
                            #calendar{
                                .day{
                                    width: 12%;
                                }
                            }
                        }
                    }
                }

        }
    } 
}
@media  screen and (max-width: 767.98px){
    body{
        .wrapper{
            .center{
                header{
                    .search{
                        #search{
                            width: 100%;
                        }
                        .change_width{
                            width: auto;
                        }
                    }
                    .startHeader{
                        width: 20%;
                    }
                    .user{
                        width: 50%;
                    }
                }
            }
                .main{
                    .menu{
                        display: none;
                        position:absolute;
                        z-index: 1000;
                        min-height:40%;
                        width: 50%;
                        border-radius: 4px;
                        
                        .tasks{
                            .choose_task{
                                padding-right: 10%;
                            }
                        }
                        .add_accord {
                            .plus_acc{
                                i{
                                    padding-right: 2rem;
                                }
                            }
                        } 
                    }
                    .close_menu{
                        display: block;
                    }
                    .drag_drop{
                        .todo-container{
                            flex-wrap: wrap;
                            .status{
                                width: 50%;
                            }
                        }
                    }
                    #footer_main{
                        display: none;
                       
                    }
                    .main_cal{
                        .container_cal{
                            #header_cal{
                                width: 97%;
                            }
                            #weekdays{
                                width: 100%;    
                            }
                            .cut{
                                font-size: 16px;
                            }
                            #calendar{
                                .day{
                                    width: 14%;
                                    margin: 0;
                                }
                            }
                        }
                    }
                }

        }
    } 
}

@media  screen and (max-width: 575.98px){
    body{
        .wrapper{
            .main{
                .menu{
                    width: 50%;
                    padding-left: 5%;
                }
            }
            .center{
                header{
                    width: 100%;
                    .startHeader{
                        width: 25%;
                    }
                    .search{
                        width: 40%;
                        /* #search{
                            display: none;
                        } */
                        /* #icon1{
                            position: relative;
                        } */

                    }
                    .user{
                        width: 35%;
                        #user{
                            padding-left: 35px;
                        }
                        p{
                            display: none;
                        }
                    }
                }
            }
        }
    }
}
@media  screen and (max-width: 375px){
    body{
        .wrapper{
            .main{
                .menu{
                    width: 100%;
                    padding-left: 5%;
                    padding-right: 5%;
                }
            }
        }
    }
}


