/*RESET.CSS*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
} 

/*END RESET.CSS*/

    /* font-family: $font;
    color: $color_text;
    background-color: $background_color; */
$font: 'Lato', sans-serif;
$color_text: #000;
$color_form:#fff;
$color_background:#f7c5cdee;
$color_page:#f1f1f1;
$color_hover: #d4d1d1;
/* $color:#000; */
@mixin a_text($color_text){
    text-decoration: none;
    color:$color_text;
}

body{  
    background-color: $color_page;
    color:$color_text;  
    .color{
        background-color: $color_background
    }
    .wrapper{
        max-width: 1920px;
        width: 100%;
        margin: 0 auto;
        .center{
            max-width: 1285px;
            width: 100%;
            margin: 0 auto;
            //background-color: aqua;
            header{  
                display: flex;
                height: 70px;
                align-items: center;
                font-family: $font;
                font-size: 18px;
                
                .startHeader{
                    width: 25%;
                    .burger{
                        padding-right: 30px;
                    }
                    a{
                        @include a_text($color_text);
                    }
                   
                }
                .search{
                    position: relative;
                    width: 30%;
                    #icon1{
                        position: absolute;
                        top: 25%;
                        font-size: 20px;
                        left: 9px;
                        
                    }
                    #search{
                        height: 30px;
                        padding-left: 40px;
                    }
                    span{
                        position: absolute;
                        right: 0;
                        display: none;
                    }
                }
                /* .plus{
                    width: 5%;
                    a{
                        @include a_text($font);
                    }
                } */
                .user{
                    display: flex;
                    justify-content: flex-end;
                    width: 45%;
                    a{
                        @include a_text($color_text);
                    }
                    p{
                        padding-left: 30px;
                    }
                    #user{
                        padding-left: 10px;
                    }
                    #bell{
                        padding-left: 30px;
                    }
                }
            }
        } 
    }
    .main{
       display: flex;
       padding-top: 30px;
       font-size: 14px;
       font-weight: 300;
       .er_message{
        display: none;
        }
       .menu{
           width: 25%;
           display: flex;
           flex-direction: column;
           margin-right: 30px;
           .tasks{
                display: flex;
                flex-direction: column;
                .choose_task{
                    margin-bottom: 15px;
                    a{
                        @include a_text($color_text);
                        i{
                            padding-right: 20px;   
                        }
                    }
                    &:first-child a{
                        i{
                        color: rgb(176, 176, 230);
                        font-size: 13px;
                        }
                    }
                    &:nth-child(2) a{
                        i{
                        color:rgb(240, 243, 87);
                        }
                    }
                    &:nth-child(3) a{
                        i{
                            color:rgb(159, 241, 221);
                        }
                    }
                    &:last-child a{
                        i{
                            color:rgb(58, 101, 121);
                        }
                    }

                }
               
            }
            .panel{
            display: none;
            }
            .accord{
                padding-left: 37px;
                p{
                    padding-bottom: 10px;
                    a{
                        @include a_text($color_text)
                    }
                }
            }
            .accordeon{
                //margin-top: 15px;
               font-weight: 700;
               margin-bottom: 15px;
               overflow: hidden;
              // width: 90%;
               &::before{
                    content: '\203A';
                    float: left;
                    padding-right: 23px;
                    padding-left: 10px;
                } 
                /* &:not(.test){
                    &::before{
                        content: '\203A';
                        float: left;
                        padding-right: 37px;
                        padding-left: 10px;
                         
                    }
                } */
                a{
                display: inline-flex;
                justify-content: space-between;
                width: 220px;
                @include a_text($color_text);
                    i{
                        font-size: 15px;
                        opacity: 0;
                    }
                }
            &:hover{
                background-color: $color_hover;
                transition: 0.5s;
                border-radius: 4px; 
                a{
                    i{
                        opacity: 1;
                    }
                }
            }
          
        }
        .test{
            &::before{
                content: '\203A';
                float: left;
                margin-top: 10px;
                padding-right: 23px;
                padding-left: 10px;
                transform: rotate(90deg); 
                transition: 0.5s;
            }
        }
       }
       .er_message{
        display: none;
        }
    }
}


